body {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.main {
    margin: 100px auto;
    text-align: center;
}
.btn {
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}
.open:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.modal {
    margin: 15% auto;
    text-align: center;
    border: 1px solid #000;
    width: 50%;
    padding: 20px;
    background-color: peachpuff;
    display: none;
}
